body {
    background-color: hsl(104, 29%, 90%);
    margin-top: 20px;
    padding: 20px;
}

h1 {
    font-family: PT Sans,sans-serif;
    font-weight: bold;
    font-size: 43pt;
}

h2 {
    font-family: PT Sans, sans-serif;
    font-weight: bold;
    font-size: 24pt;
}

h3 {
    font-family: Font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, serif;
    font-weight: bold;
    font-size: 16pt;
}

p {
    font-family: Font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, serif;
    font-size: 16pt;
}

ul {
    list-style-type: none;
}


a {
    vertical-align: text-bottom;
    display:inline;
    font-family: PT Sans, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 16px;
    text-decoration:none;
    float: right;
}

#whitename {
    display: inline;
    font-family: Exo, sans-serif;
    font-size: 69pt;
    color:#ffffff;
    text-decoration: none;
    float: left;
}

#greenname {
    display: inline;
    font-family: Exo, sans-serif;
    font-size: 69pt;
    color:#b5d2ad;
    text-decoration: none;
    float: left;
}

.whitenav {
    color: #ffffff;
}

.greennav {
    color: #b5d2ad;
}

.whiteline {
    color: #ffffff;
    background-color: #ffffff;
    border-width: 0;
    width: 100%;
    height: 2px;
}

.greenline {
    color: #b5d2ad;
    background-color: #b5d2ad;
    border-width: 0;
    width: 100%;
    height: 2px;
}