body {
    margin: 0;
    padding: 0;
    background-color: #e2edde;
  }

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 34pt;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 28pt;
}

h3 {
    font-family:'PT Serif', serif;
    font-weight: bold;
    font-size: 16pt;
}

p {
    font-family:'PT Serif', serif;
    font-size: 16pt;
    margin-top: 0;
}

a:hover {
    text-decoration: underline;
}


/********INDEX PAGE********/

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
}

.container .section:nth-child(1) {
    background: url("images/durkin_landing_01.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2) {
    background: url("images/durkin_landing_02.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(3) {
    background: url("images/durkin_landing_03.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container .section .footer {
    position: fixed;
    bottom: 25px;
}

ul {
    list-style: none;
    margin: 0;
    display:flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0;
    min-width: 600px;
}

ul.footer {
    list-style: none;
    margin: 0;
    display:flex;

    align-items: baseline;
    padding: 0;
    min-width: 600px;
    float: right;
}

li.footer {
    margin-right: 0;
}


li a {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 .5em 0;
    position: relative;
    margin-right: 20px;
}


li:first-child {
    margin-right:auto;
    margin-left: 0;
}



/********WHITE NAVIGATION BAR********/

.white-chen {
    font-family: 'Exo', sans-serif;
    font-size: 70pt;
    color: white;
    padding-left: .5em;
}

#white-line {
    border-bottom: 2px solid white;
}

#white-line-footer {
    border-top: 2px solid white;
    display: fixed;
    bottom: 0;
}

.white-text {
    color: white;
}


/********GREEN NAVIGATION BAR********/

.green-chen {
    font-family: 'Exo', sans-serif;
    font-size: 70pt;
    color: #b5d2ad;
    padding-left: .5em;
    display: flex;
    flex-wrap: nowrap;
}

#green-line {
    border-bottom: 2px solid #b5d2ad;
}

.green-text {
    color: #b5d2ad;
}




/********ABOUT PAGE********/

.container-about {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container-about .card1 {
    position: relative;
    max-width: 1800px;
    background: #b5d2ad;
    margin: 20px auto;
    padding: 30px 30px 130px 30px;
    display: flex;
}

.container-about .card1 .imgbx {
    max-width: 500px;
    min-width: 400px;
    flex: 0 0 500px;
}

.container-about .card1 .imgbx img{
    max-width: 500px;
}

.container-about .card1 .content1 {
    margin-left: 30px;
}

.img-about01 {
    max-width: 500px;
    float: left;
    margin-right: 10px;
    display: flex;
}
.img-about02 {
    width:100vw;
}


/********HOBBY PAGE********/

.container-hobby {
    position: relative;
    width: 800px;
    display: flex;
    justify-content:;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container-hobby .card2 {
    position: relative;
    width: 800px;
    background: #b5d2ad;
    padding: 20px 40px 0px 40px;
    display: flex;
    align-content: center;
}

.container-hobby .card2 .content2 {
    align-content:center;
    margin: 0 auto;
    display:
}

  .img-hobby01 {
    width:100vw;
    margin-bottom: 0;
}
 
.img-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

.img-left {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.evan {
    font-weight: bold;
    margin-top: 40px;
}
